
h1 {
    font-family: 'Sen', sans-serif;
    
    margin-bottom: 15px;
 
    font-size: 60px;
 
    color: white;
  
    text-align: center;
 
    text-decoration: underline;
 
    background-color: crimson;
  }

  

  h2 {
	  font-family: fantasy;
	  float: center;


  }

  h3 {
	font-family: 'Sen', sans-serif;
  }

  p {
	font-family: 'Sen', sans-serif;
  }

ul {
	font-family: 'Sen', sans-serif;
}
